html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #222;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0.5em 0;
}

h1 {
  font-size: 2.2em;
  color: #222;
}

h2 {
  font-size: 1.8em;
  color: #222;
}

h3 {
  font-size: 1em;
  color: #222;
  font-weight: 500;
}

p{
  max-width: 800px;
  margin: 1em auto;
  font-size: 1.1em;
  text-align: justify left;
  padding: 0 1em;
}

.list_img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  margin: 1em auto;
  padding: 0 1em;
}


.barplot {  
  max-width: 50rem;
  margin: 2em auto;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.waffleplot {  
  max-width: 65rem;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.heatmap {  
  max-width: 60rem;
  margin: 2em auto;
  padding: 2em;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.waffle_ul {
  max-width: 800px;
  margin: 1em auto;
  font-size: 1.1em;
  text-align: justify;
  padding: 0 1em;
  list-style-position: outside;
}

.pyramid {  
  max-width: 150rem;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.ridgeline {
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.list_img ul {
  flex: 1;
  margin: 0;
  padding-left: 2em;
}

.env_logo {
  width: 150px;
  height: auto;
}

svg text {
  font-family: 'Fira Sans', sans-serif;
}

svg {
  font-family: 'Fira Sans', sans-serif;
}


footer {
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
  font-size: 0.7em;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
