html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #222;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

main p {
  margin-bottom: 2rem;
}

main h1 {
  margin-top: 3rem;
}

main h2 {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0.5em 0;
}

h1 {
  font-size: 2.2em;
  color: #222;
}

h2 {
  font-size: 1.8em;
  color: #222;
}

h3 {
  font-size: 1em;
  color: #222;
  font-weight: 500;
}

p {
  max-width: 800px;
  margin: 1em auto;
  font-size: 1.1em;
  text-align: justify left;
  padding: 0 1em;
}

.list_img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  margin: 1em auto;
  padding: 0 1em;
}


.barplot {
  max-width: 50rem;
  margin: 2em auto;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.waffleplot {
  max-width: 60rem;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.heatmap {
  max-width: 60rem;
  margin: 2em auto;
  padding: 2em;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.waffle_ul {
  max-width: 800px;
  margin: 1em auto;
  font-size: 1.1em;
  text-align: justify;
  padding: 0 1em;
  list-style-position: outside;
  margin-top: 1.5rem;
}

.pyramid {
  max-width: 75rem;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.ridgeline {
  max-width: 60rem;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.boxplot {
  max-width: 60rem;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.areachart {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2em;
  margin: 3em;
  justify-content: center;
  display: flex;
}

.choropleth {
  padding: 1em;
  margin-left: 6rem;
  border: none;
  display: flex;
  justify-content: center;
}

#choropleth_map3d {
  position: relative;
}

.cartogram {
  padding: 1em;
  margin: 3em 15em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.bubble {
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.map_title {
  font-size: 18px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.sankey {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.sankey-legend{
  font-style: italic;
  font-size: 0.8rem;
  color: #555;
  text-anchor: middle;
  margin: 0;
}

.list_img ul {
  flex: 1;
  margin: 0;
  padding-left: 2em;
}

.env_logo {
  width: 150px;
  height: auto;
}

svg text {
  font-family: 'Fira Sans', sans-serif;
}

svg {
  font-family: 'Fira Sans', sans-serif;
}

main>div,
.barplot,
.heatmap,
.waffleplot,
.pyramid,
.ridgeline,
.boxplot {
  margin-bottom: 3rem;
}


footer {
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
  font-size: 0.7em;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}